<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed == true %>
    <input type ="checkbox" checked>This task is completed
<% else %>
    <input type ="checkbox" >This task is not completed
<% end %>

<p><%= link_to "Edit this page", "/task/#{@task.id}/edit" %> </p>

<p><%= link_to "Back to list", "/tasks" %> </p>